@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #589EDB;
    --secondary-color: #FFFFFF;
    --text-color: black;
}

body, h1, h2 {
    color: black;
    padding: 2px;
}

p {
    color: black;
}

.sociallinks a {
    text-decoration: none;
    margin-left: 25px;
}
.sociallinks {
    display: flex;
}
.sociallinks img {
    width: 30px;
    height: 30px; 
    border-radius: 50%;
}

body {
    max-width: 1200px;
    margin: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 1%;
    right: 50%;
    color: #FFFFFF;
    background-color: rgb(63, 61, 60, 0.5);
    padding: 20px;

}

.hero article {
    position: absolute;
    bottom: 5px;
    right: 20px;
    color: #FFFFFF;
    background-color: rgba(13, 55, 133, 0.5);
    padding: 20px;
    border-radius: 50px;
}
.hero article p{
    color: white;
}

.hero article img {
    float: right;
    margin-right: 20px;
    width: 300px;
}

section {
    margin-bottom: 20px;
}
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-content: space-between;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}
nav ul li:first-child {
    margin-left: 0;
}
nav ul li a {
    color: steelblue;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
    border-bottom: 2px solid rgb(6, 173, 245); 
}

header img {
    max-width: 150px;
    height: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
section figcaption {
    color: black;
}
section figure img {
    max-width: 100%;
    height: auto;
}

section h2 {
    color: #0689f5;
}
section p {
    text-align: center;
    margin-top: 10px;
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}


form {
    max-width: 400px;
    margin: 0 auto;
}
fieldset {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
    margin-bottom: 10px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="radio"], input[type="checkbox"] {
    margin-right: 5px;
}
button {
    background-color: #007bff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
h3, h1, legend, label, div {
    color: #0056b3;
}
.trip-description {
    display: inline-block;
    vertical-align: top;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}
.trip-description img {
    max-width: 100%;
    height: auto;
}
table {
    border-collapse: collapse;
    border: 2px solid navy;
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    margin: 0 auto;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: bold;
}
thead,
tfoot {
  background-color: rgb(228 240 245);
  align-items: center;
  align-content: center;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 20px 20px;
  text-align: left;
  color: black;
}

td:last-of-type {
  text-align: center;

}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
  text-align: left;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
.main-image {
    text-align: center;
}

.main-image img {
    width: 100%;
    height: auto;
}

.trips {
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    grid-template-columns: 50px 50px 50px 50px 50px 50px;
}
.trip-1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
.trip-2 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
}